* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  background: rgb(99, 82, 163);
  color: #999;
  font: normal 16px/1.5 "HelveticaNeue-Light", "Times New Roman", serif;
}

img {
  max-width: 100%;
}

a {
  color: #507998;
  text-decoration: none;
  text-shadow: none;
  /* hiding this to help with the app button
      border-bottom: 1px dotted;*/
  -webkit-box-sizing: padding-box;
     -moz-box-sizing: padding-box;
          box-sizing: padding-box;
}

a:hover {
  color: #24577e;
  /* border-bottom: 1px solid; */
}

.app-store,
.app-store:hover {
  border-bottom: 0;
}

h1, h2, h3, h4 h5 {
  font-family: "HelveticaNeue-CondensedBold", "Arial Narrow", "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  color: rgb(241, 241, 241);
}

p {
  color: rgb(241, 241, 241);
}

h1 {
  font-size: 2.25em;
  text-shadow: none;
}

/* basic layout */
#container {
  width: 100%;
  max-width: 73em;
  padding: 0 5%;
  margin: 0 auto;
  background: rgb(99, 82, 163);
}

header {
  position: relative;
  padding: 1.5em 0;
  background: rgb(99, 82, 163);
}

header h1 {
  margin: 0;
  font-family: "HelveticaNeue-CondensedBold", "Arial Narrow", Arial, sans-serif;
  line-height: 1.5;
}

header h2 {
  margin: -0.7em 0 0;
  font-size: 1.25rem;
}

header h1 {
  line-height: 1.375;
}

header h2 {
  margin: -0.7em 0 0;
  font-size: 1.25rem;
  color: rgb(241, 241, 241);
}

header img {
  margin-right: 0.5em;
  float: left;
}

#main h1 {
  line-height: 1.1;
  font-size: 2.25em;
  width: 92%;
  margin-bottom: 0.5em;
  letter-spacing: 0.04em;
}

.iphone {
  position: relative;
  max-height: 744px;
  max-width: 396px;
  padding-bottom: 0%;
}

.iphone img {
  position: relative;
  max-width: 80%;
  z-index: 100;
}

.buy {
  margin: 2em 0 -40.2em;
  padding: 0.75em;
  -webkit-border-radius: 0.375em;
     -moz-border-radius: 0.375em;
          border-radius: 0.375em;
  -webkit-background-clip: padding-box;
}

.appbutton img{
  text-decoration: none;
  border-bottom: none;
}

.button {
  padding: 0.75em;
  color: #ddd;
  border: 0;
  background-color: #FD872D;
  font-family: "HelveticaNeue-CondensedBold", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: 1.25em;
  -webkit-border-radius: 0.375em;
     -moz-border-radius: 0.375em;
          border-radius: 0.375em;
  -webkit-background-clip: padding-box;
}

.button:hover {
  background: rgb(241,241,241);
  border: 0;
  color: rgb(99, 82, 163);
}

.button:active {
  background: #1a3e59;
}

footer {
  padding: 1em 0;
  font-size: 0.75rem;
}

@media all and (min-width: 37.5em) {
  body {
    font-size: 16px;
  }

  #container {
    max-width: 64em;
  }

  #main {
    position: relative;
    width: 55%;
    margin-left:45%;
    min-height: 47em;
  }

  #main h1 {
    font-size: 3.25em;
    width: 90%;
    margin-bottom: 0.5em;
  }

  .valueprop {
    font-size: 1.25em;
    color: rgb(241,241,241);
  }

  aside {
    width: 75%;
    margin-left: -83%;
    position: absolute;
    top: 0em;
  }

  .iphone img {
    max-width: 100%;
  }

  .iphone {
    width: 100%;
    height: 100%;
  }

  header h1 {
    line-height: 1.375;
  }

  header h2 {
    margin: -0.7em 0 0;
    font-size: 1.25rem;
  }
}

/*  Mail Chimp */

section#mailchimp p {
  text-align: center;
}

#mc_embed_signup {
  position: relative;
  width: 40%;
  margin: 0 auto;
  padding: 0;
}

#mc_embed_signup label {
  display: none;
}

#mc_embed_signup #mce-EMAIL {
  display: block;
  color: rgb(99, 82, 163);
  border: none;
  width: 100%;
  height: 46px;
  margin-bottom: 0;
  padding: 0;
  border-radius: 40px;
  box-sizing: border-box;
  padding-left: 20px;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
  margin: 2em 0 1em;
  font-family: 'AvenirNext-Regular', 'Open Sans Condensed', 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
}

#mc_embed_signup #mc-embedded-subscribe {
  position: absolute;
  height: 46px;
  width: 60px;
  top: 0px;
  right: 0;
  border-radius: 40px;
  background: rgb(255, 255, 255) url('images/icon-arrow.png') center center no-repeat;
  border:none;
}

@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
  #mc_embed_signup #mc-embedded-subscribe{
    background: rgb(255, 255, 255) url('images/icon-arrow@2x.png') center center no-repeat;
    background-size: 50%;
  }
}

#mc_embed_signup #mce-responses {
  display: block;
  color: #756FF1;
}

#mc_embed_signup #mc-embedded-subscribe:hover {
  opacity: .5;
}

#mc_embed_signup input:focus{
  outline: none;
}

#mc_embed_signup div.mce_inline_error {
  display: block;
  color: #fff;
  background: #FF6C6C !important;
  border-radius: 40px;
  line-height: 2em;
}

::-webkit-input-placeholder {
  color: rgba(99, 82, 163, .6);
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(99, 82, 163, .6);
}

::-moz-placeholder {  /* Firefox 19+ */
  color: rgba(99, 82, 163, .6);
}

:-ms-input-placeholder {
  color: rgba(99, 82, 163, .6);
}


em {
  font-size: 120%;
}

.copyright {
  text-align: center;
  font-size: 100%;
  padding-bottom: 1em;
}

.copyright a {
  color: rgb(195, 195, 195);
}
